div[b-wkatcuw0fw]{
    background-color:lightblue;
}
.container[b-wkatcuw0fw]{
    height: 600px;
}
a[b-wkatcuw0fw] {
    padding-top: 20px;
    padding-bottom: 20px;
}

.data-side[b-wkatcuw0fw]{
    width: 50%;
    float: left;
    height:100%;
    text-align:center;
    display: table;
}
.avatar-side[b-wkatcuw0fw]{
    width: 50%;
    float: right;
    height:100%;
    text-align:center;
    display:block;
}

.element[b-wkatcuw0fw] {
    padding-top: 40px;
}
.content[b-wkatcuw0fw] {
    float: right;
}
img[b-wkatcuw0fw]{
    max-width: 300px;
    max-height: 300px;
    padding-top: 80px;
    border-radius: 80%;
}
.url[b-wkatcuw0fw] {
    align-self: center;
    white-space: nowrap;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    float: right
     
}

.avatar-utl[b-wkatcuw0fw]{
    margin-top: 30px;
}

.avatar-photo[b-wkatcuw0fw]{
    align-self:center
}
